<header{
	background-color: #f2f2f2;
	padding: 40px;
	text-align: center;

}

h1{
	font-size: 90px;
	color: white;
}
header img{
	border-radius: 150px;
}
/*<header>
		<img src="img/profile.jpg">
		<h1>Baymax</h1>
	</header>*/
